@font-face {
    font-family: 'museo_300regular';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo300-regular-webfont.woff') format('woff'),
    url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
    url('../fonts/museo300-regular-webfont.svg#museo_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_700regular';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo700-regular-webfont.woff') format('woff'),
    url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
    url('../fonts/museo700-regular-webfont.svg#museo_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 100%;
}
body {
	font-family: $default-font-stack;
	font-size: 0.813em;
	font-weight: 400;
    // line-height: 1.06em;
    color: $body-color;
}

h1 {
    margin: 0 0 0.972em;
	font-weight: 300;
    font-size: 2.250em ;
	span {
		font-weight: 800;
	}
}
h2 {
    margin: 0 0 0.682em;
    font-weight: 600;
    font-size: 1.375em;
}
h3 {
    margin: 0 0 1.250em;
    font-weight: 600;
    font-size: 1em;
}
a {
	color: $links;
    text-decoration: underline;
	&:hover { color: $links-hover;}
}

nav {
    font-size: 1em;
}
input {
    font-size: 0.938em;
}