
//  === FONTS ===
$default-font-stack: "Open Sans", Arial, sans-serif; //main font
$special-font-stack: "museo_700regular", Arial, sans-serif; //font-face
$special-font-stack-light: "museo_300regular", Arial, sans-serif; //font-face

//  === COLORS ===
$secondary-color: #29abe2; //in this case, blue
$links: $secondary-color; //links color
$links-hover : #007; //hover links color
$links-with-bg : #fff; //links with background
$body-color: #4d4d4d; //text color
$title-color: #29abe2; //titles color
$color-for-bg: #fff; //in this case, white
$border: #e6e6e6;
$error: #c1272d;
// === cols ===
