@import "variables";
@import "typo";
@import "mixins";
@import "grid";
@import "layout";
@import "form";
@import "global";

#logo {
	margin: 35px 0 0
}
.btn-subscribe {
	position: absolute;
	top:0;
	right: 0;
	margin: 0 0 15px;
	padding: 5px 15px;
	background: $secondary-color;
	color: $color-for-bg;
	font-weight: 600;
	a {
		color: $links-with-bg;
		text-decoration: none;
		&:first-child {
			padding: 0 10px 0 0;
		}
		&:last-child {
			padding: 0 0 0 10px;
		}
	}
}
nav {
	li {
		margin: 0 15px 0 0;
		&:last-child {
			margin: 0;
			&:after {
				content: "";
			}
			a {
				padding: 0;
			}
		}
		&:after {
			content:"|";
		}
	}
	a{
		padding: 0 15px 0 0;
		color: $body-color;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 600;
		&:hover {
			color: $secondary-color;
		}
	}
}
.home-illustration {
	height: 430px;
	background: url(../img/home-illustration.jpg) center bottom no-repeat,
	url(../img/bg-home-illustration.jpg) 0 0 repeat-x;
}
.illustration-title {
	margin: 0;
	padding: 70px 0 0;
	text-transform: uppercase;
	font-size: 30px;
	span {
		display: block;
		font-weight: 700;
		font-size: 36px;
	}
}
.home-title {
	margin: 70px 0 60px;
	text-align: center;
	font-size: 36px;
}
.home-with-bg {
	padding: 0 0 75px;
	background: #f2f2f2;
	border-top: 1px solid #e6e6e6;
}
.link-form {
	margin: 20px 0 0 153px;
	& + .link-form{
		margin-top: 0px;
	}
}

ul.websites {
	padding: 0;
	margin: 40px 0px;
	> li {
		display: inline-block;
		width: 255px;
		height: 260px;
		margin: 0 40px 25px 0;
		padding: 10px;
		-webkit-box-shadow: 0px 0px 5px #333333;
		-moz-box-shadow: 0px 0px 5px #333333;
		box-shadow: 0px 0px 5px #333333;
		> h3 {
			margin: 0;
			> a {
				color: $secondary-color;
				font-size: 1.5em;
				font-weight: 400;
				text-decoration: none;
				font-family: $default-font-stack;
			}
		}
		> .info {
			margin: 0;
			color: #999;
			font-style: italic;
			height: 40px;
		}
		> img {
			margin: 5px 0;
		}
		> a{
			text-decoration: none;
		}
	}
}

ul.messages {
	padding: 0 !important;
	margin: 0 !important;
	list-style-type: none;
	.info, .error, .success, .warning {
		padding: 8px 15px;
	}
	.info {
		background: #F2F7FF;
		color: #84B0F6;
	}
	.error {
		background: #FCE2E2;
		color: #F66;
	}
	.success {
		background: #F2FEF2;
		color: #7FBA7F;
	}
	.warning {
		background: #FFF0D2;
		color: #F93;
	}
}

body.error {
	> #content {
		background: none no-repeat center 100px;
		min-height: 400px;
		padding-bottom: 100px;
		margin-bottom: 30px;

		h1 {
			font-size: 3em;
			text-transform: uppercase;
			margin: 0;
		}
		h2 {
			font-size: 3em;
			text-transform: uppercase;
		}
		a {
			background: $secondary-color;
			color: $color-for-bg;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 1.3em;
		}
		a:before {
			content: "> ";
		}
	}
}
body.error404 > #content {
	background-image: url('../img/error404.png');
}
body.error500 > #content {
	background-image: url('../img/error500.png');
}
