{% extends "layout.html" %}
{% load i18n %}
{% block meta_title %}S'inscrire{% endblock %}
{% block meta_description %}Inscrivez-vous sur le site afin de participer à l'expérience d'UXperiment. Contribuez à l'évolution des sites en partageant votre expérience.{% endblock %}

{% block content %}
    <h1>{% trans "Registration" %}</h1>
    <p>Inscrivez-vous sur le site afin de participer à UXperiment</p>
    <p>Contribuez à l'évolution des sites en partageant votre expérience</p>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}
