{% extends "layout.html" %}
{% load i18n %}
{% block meta_title %}S'inscrire{% endblock %}
{% block meta_description %}Inscrivez-vous sur le site afin de participer à l'expérience d'UXperiment. Contribuez à l'évolution des sites en partageant votre expérience.{% endblock %}

{% block content %}
<section class="clearfix container main-container">
	<h2>{% trans "Registration" %}</h2>
	<form method="post" action=".">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{% trans 'Submit' %}" />
	</form>
</section>
{% endblock %}
