@font-face {
  font-family: 'museo_300regular';
  src: url("../fonts/museo300-regular-webfont.eot");
  src: url("../fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo300-regular-webfont.woff") format("woff"), url("../fonts/museo300-regular-webfont.ttf") format("truetype"), url("../fonts/museo300-regular-webfont.svg#museo_300regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_700regular';
  src: url("../fonts/museo700-regular-webfont.eot");
  src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo700-regular-webfont.svg#museo_700regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 23, ../sass/_typo.scss */
html {
  font-size: 100%;
}

/* line 26, ../sass/_typo.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.813em;
  font-weight: 400;
  color: #4d4d4d;
}

/* line 34, ../sass/_typo.scss */
h1 {
  margin: 0 0 0.972em;
  font-weight: 300;
  font-size: 2.250em;
}
/* line 38, ../sass/_typo.scss */
h1 span {
  font-weight: 800;
}

/* line 42, ../sass/_typo.scss */
h2 {
  margin: 0 0 0.682em;
  font-weight: 600;
  font-size: 1.375em;
}

/* line 47, ../sass/_typo.scss */
h3 {
  margin: 0 0 1.250em;
  font-weight: 600;
  font-size: 1em;
}

/* line 52, ../sass/_typo.scss */
a {
  color: #4d4d4d;
  text-decoration: underline;
}
/* line 55, ../sass/_typo.scss */
a:hover {
  color: #29abe2;
}

/* line 58, ../sass/_typo.scss */
nav {
  font-size: 1em;
}

/* line 61, ../sass/_typo.scss */
input {
  font-size: 0.938em;
}

/* line 64, ../sass/_typo.scss */
.chapo {
  font-style: italic;
}

/* Choose a grid width, the number of columns and the margin between columns. The result of the following equation has to be an integer, not a fraction: (width - (columns - 1) * col_margin) / columns = N */
/* total with of page */
/* line 1, ../sass/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 5, ../sass/_layout.scss */
header {
  margin: 0 0 20px;
  border-top: 3px solid #29abe2;
}
/* line 8, ../sass/_layout.scss */
header .header-block {
  position: relative;
}
/* line 11, ../sass/_layout.scss */
header nav {
  margin: 40px 0 0;
}

/* line 15, ../sass/_layout.scss */
.main-container {
  margin-bottom: 70px;
}

/* line 18, ../sass/_layout.scss */
footer {
  background: #f2f2f2;
}
/* line 20, ../sass/_layout.scss */
footer .footer-block {
  padding: 30px 0 20px;
  border-top: 1px solid #e6e6e6;
  background: url(../img/bg-footer.png) right 23px no-repeat;
}
/* line 24, ../sass/_layout.scss */
footer .footer-block nav {
  margin: 5px 40px 0 0;
}

/* line 30, ../sass/_layout.scss */
.col3 {
  margin: 0 50px 70px 0;
  width: 270px;
}
/* line 33, ../sass/_layout.scss */
.col3 img {
  padding: 10px;
  margin: 0 0 10px;
  border: 1px solid #e6e6e6;
}
/* line 38, ../sass/_layout.scss */
.col3:last-child {
  margin: 0;
}
/* line 41, ../sass/_layout.scss */
.col3 h2 {
  text-align: center;
  font-size: 18px;
}

/* line 46, ../sass/_layout.scss */
.col4 {
  margin: 0 20px 0 0;
  width: 220px;
  text-align: center;
}
/* line 50, ../sass/_layout.scss */
.col4:last-child {
  margin: 0;
}
/* line 53, ../sass/_layout.scss */
.col4 img {
  margin: 0 0 25px;
}
/* line 56, ../sass/_layout.scss */
.col4 h3 {
  margin: 0;
  font-family: "museo_700regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
}
/* line 61, ../sass/_layout.scss */
.col4 h3 span {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

/* line 1, ../sass/_form.scss */
input, textarea {
  padding: 4px;
  display: inline-block;
  width: 560px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  vertical-align: top;
}
/* line 10, ../sass/_form.scss */
input:invalid, textarea:invalid {
  border: 2px solid #ff0000;
}

/* line 15, ../sass/_form.scss */
input:focus:required,
textarea:focus:required:invalid {
  border: 1px solid #f00;
}

/* line 18, ../sass/_form.scss */
label {
  display: inline-block;
  width: 150px;
}

/* line 22, ../sass/_form.scss */
input[type="submit"] {
  padding: 5px 10px;
  margin: 0 0 0 153px;
  background: #29abe2;
  color: #fff;
  border: none;
  width: auto;
}

/* line 30, ../sass/_form.scss */
input[type="file"] {
  width: 430px;
}

/* line 33, ../sass/_form.scss */
.errorlist {
  margin: 0 0 0 153px;
  padding: 0;
}
/* line 36, ../sass/_form.scss */
.errorlist li {
  list-style-type: none;
  color: #c1272d;
}

/* line 42, ../sass/_form.scss */
form p {
  margin: 0 0 10px;
}

/*Floats*/
/* line 2, ../sass/_global.scss */
.fl {
  float: left;
}

/* line 5, ../sass/_global.scss */
.fr {
  float: right;
}

/*Clearing floats*/
/* line 10, ../sass/_global.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 19, ../sass/_global.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 23, ../sass/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 24, ../sass/_global.scss */
.clearfix {
  *zoom: 1;
}

/* line 26, ../sass/_global.scss */
ul {
  margin: 0;
}

/* line 9, ../sass/styles.scss */
#logo {
  margin: 35px 0 0;
}

/* line 12, ../sass/styles.scss */
.btn-subscribe {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 15px;
  padding: 5px 15px;
  background: #29abe2;
  color: white;
  font-weight: 600;
}
/* line 21, ../sass/styles.scss */
.btn-subscribe a {
  color: white;
  text-decoration: none;
}
/* line 24, ../sass/styles.scss */
.btn-subscribe a:first-child {
  padding: 0 10px 0 0;
}
/* line 27, ../sass/styles.scss */
.btn-subscribe a:last-child {
  padding: 0 0 0 10px;
}

/* line 33, ../sass/styles.scss */
nav li {
  margin: 0 15px 0 0;
}
/* line 35, ../sass/styles.scss */
nav li:last-child {
  margin: 0;
}
/* line 37, ../sass/styles.scss */
nav li:last-child:after {
  content: "";
}
/* line 40, ../sass/styles.scss */
nav li:last-child a {
  padding: 0;
}
/* line 44, ../sass/styles.scss */
nav li:after {
  content: "|";
}
/* line 48, ../sass/styles.scss */
nav a {
  padding: 0 15px 0 0;
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
/* line 54, ../sass/styles.scss */
nav a:hover {
  color: #29abe2;
}

/* line 59, ../sass/styles.scss */
.home-illustration {
  height: 430px;
  background: url(../img/home-illustration.jpg) center bottom no-repeat, url(../img/bg-home-illustration.jpg) 0 0 repeat-x;
}

/* line 64, ../sass/styles.scss */
.illustration-title {
  margin: 0;
  padding: 70px 0 0;
  text-transform: uppercase;
  font-size: 30px;
}
/* line 69, ../sass/styles.scss */
.illustration-title span {
  display: block;
  font-weight: 700;
  font-size: 36px;
}

/* line 75, ../sass/styles.scss */
.home-title {
  margin: 70px 0 60px;
  text-align: center;
  font-size: 36px;
}

/* line 80, ../sass/styles.scss */
.home-with-bg {
  padding: 0 0 75px;
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
}

/* line 85, ../sass/styles.scss */
.link-form {
  margin: 20px 0 0 153px;
}
/* line 87, ../sass/styles.scss */
.link-form + .link-form {
  margin-top: 0px;
}

/* line 92, ../sass/styles.scss */
ul.websites {
  padding: 0;
  margin: 40px 0px;
}
/* line 95, ../sass/styles.scss */
ul.websites > li {
  display: inline-block;
  width: 255px;
  height: 250px;
  margin: 0 40px 25px 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 104, ../sass/styles.scss */
ul.websites > li > h3 {
  margin: 0;
}
/* line 106, ../sass/styles.scss */
ul.websites > li > h3 > a {
  color: #29abe2;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
}
/* line 114, ../sass/styles.scss */
ul.websites > li > .info {
  margin: 0;
  color: #999;
  font-style: italic;
}
/* line 119, ../sass/styles.scss */
ul.websites > li > img {
  margin: 5px 0;
}
/* line 122, ../sass/styles.scss */
ul.websites > li > a {
  text-decoration: none;
}

/* line 128, ../sass/styles.scss */
ul.messages {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}
/* line 132, ../sass/styles.scss */
ul.messages .info, ul.messages .error, ul.messages .success, ul.messages .warning {
  padding: 8px 15px;
}
/* line 135, ../sass/styles.scss */
ul.messages .info {
  background: #F2F7FF;
  color: #84B0F6;
}
/* line 139, ../sass/styles.scss */
ul.messages .error {
  background: #FCE2E2;
  color: #F66;
}
/* line 143, ../sass/styles.scss */
ul.messages .success {
  background: #F2FEF2;
  color: #7FBA7F;
}
/* line 147, ../sass/styles.scss */
ul.messages .warning {
  background: #FFF0D2;
  color: #F93;
}
