Django==1.4.2
South==0.7.6
Markdown==2.2.0
-e git+git://github.com/vinyll/django-imagefit.git#egg=django-imagefit
beautifulsoup4==4.1.3
django-gravatar==0.1.0
django-registration==0.8
django-debug-toolbar==0.9.4
wsgiref==0.1.2
PIL==1.1.7
requests==0.14.0
#heroku requirements to not add
#dj-database-url==0.2.1
#gunicorn==0.14.6
#psycopg2==2.4.5
