.wrapper {
	width: $container-width;
	margin: 0 auto;
}

header {
	background: #FFF url() 0 0 no-repeat;
	.logo {

	}
}

footer {
	background: #FF0 url() 0 0 no-repeat;
}

/*Nav*/
nav {

}

/*header*/
.header-block {

}

/*footer*/