html {
  font-size: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 0.8em/1.6em;
  color: #cccccc; }

a {
  color: #0088ff; }
  a:hover {
    color: #000077; }

/* Choose a grid width, the number of columns and the margin between columns. The result of the following equation has to be an integer, not a fraction: (width - (columns - 1) * col_margin) / columns = N */
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns */
/* append n blank columns */
body {
  width: 100%; }

.container {
  margin: 0 auto;
  width: 960px; }

header {
  background: white url() 0 0 no-repeat; }

footer {
  background: yellow url() 0 0 no-repeat; }

/*Nav*/
/*header*/
/*footer*/
/*Floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*Clearing floats*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*Nav*/
nav {
  color: #f00; }

/*header*/
/*footer*/
