{% extends "layout.html" %}
{% load gravatar i18n %}
{% load imagefit %}
{% block meta_title %}Sites proposés{% endblock %}
{% block meta_description %}Découvrez tous les sites déjà proposés et contribuez aux tests collaboratifs sur ces sites en partageant votre expérience.{% endblock %}

{% block content %}
    <section class="clearfix container main-container">
        <h1>{% trans "Suggested websites" %}</h1>
        <p>Proposez un site à la communauté afin de partager votre expérience sur ce site</p>
        <p>Comment? Il suffit de nous indiquer ce que vous en pensez à l'aide d'un commentaire, de signaler les problèmes que vous avez soulevez et/ ou d'émettre des propositions de fonctionnalités ou d'amélioration que vous suggérez pour améliorer l'expérience utilisateur du site.</p>
    {% if websites %}
        <ul class="websites">
            {% for website in websites %}
            <li>
                <h3><a href="{{ website.url }}" taget="_blank">{{ website.title }}</a></h3>
                <p class="info">
                    {% trans "submitted on" %} {{ website.date|date:"d F Y" }}
                    {% if website.submitter %}
                        {% trans "by" %} <img src="{% gravatar_for_email request.user.email 16 %}" alt=""> {{ website.submitter.username }}
                    {% endif %}
                </p>
                <a href="{{ website.url }}" taget="_blank">
                    <img src="http://api.webthumbnail.org/?width=250&amp;height=160&amp;format=png&amp;screen=1024&amp;url={{ website.url }}" alt="{{ website.title }}">
                    <br>{{ website.url }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No suggested website yet." %}</p>
        <p><a href="{% url suggest_website %}">{% trans "Suggest a website" %}</a></p>
    {% endif %}
    </section>
{% endblock %}
