{% extends "layout.html" %}
{% load i18n %}
{% block meta_title %}Proposer un site{% endblock %}
{% block meta_description %}Proposez un site à la communauté afin de partager votre expérience sur ce site. Comment ? Il vous suffit de nous indiquer ce que vous en pensez à l'aide d'un commentaire, de signaler les problèmes que vous avez soulevés sur le site et/ ou d'émettre des propositions de fonctionnalités ou d'améliorations que vous suggérez pour améliorer l'expérience utilisateur du site.{% endblock %}

{% block content %}
    <h1>{% trans "Suggest a website" %}</h1>
    <p>Proposez un site à la communauté afin de partager votre expérience sur ce site</p>
    <p>Comment? Il suffit de nous indiquer ce que vous en pensez à l'aide d'un commentaire, de signaler les problèmes que vous avez soulevez et/ ou d'émettre des propositions de fonctionnalités ou d'amélioration que vous suggérez pour améliorer l'expérience utilisateur du site.</p>
    {% if errors %}
        <p class="error">{% trans "Please correct the errors highlighted below." %}</p>
    {% endif %}
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Suggest this website" %}" />
    </form>
{% endblock %}
