body {
	width: 100%;
}


header {
	background: #FFF url() 0 0 no-repeat;
	.logo {

	}
}

footer {
	background: #FF0 url() 0 0 no-repeat;
}

/*Nav*/
nav {

}

/*header*/
.header-block {

}

/*footer*/

.container {
	margin: 0 auto;
	width: $container-width;
}
.column {
	float: left;
	margin {
		left: $column-gutter-width;
		right: $column-gutter-width;
	}
}
@for $i from 1 through $columns {
	.span-#{$i} {
		@include columns($i);
	}
}