body {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: $width;
}
header {
	background: #FFF url() 0 0 no-repeat;
	.logo {

	}
}

footer {
	background: #FF0 url() 0 0 no-repeat;
}

/*Nav*/
nav {

}

/*header*/
.header-block {

}

/*footer*/


