
//  === FONTS ===
$default-font-stack: "museo_700regular", Arial, sans-serif; //typo de base
$special-font-stack: "museo_700regular", Arial, sans-serif; //font-face

//  === COLORS ===
$links: #0088ff; //Couleur des liens
$links-hover : #007; //Couleur au survol des liens
$body-color: #ccc; //couleur du texte

// === cols ===
