{% extends "layout.html" %}
{% load i18n %}
{% load url from future %}
{% block meta_title %}{% trans "Contact" %}{% endblock %}
{% block meta_description %}
{% trans "UXperiment is a collaborative platform. We're listening your remerks to make to service better. Don't hesitate to contact us, event you just want to say hello ;)" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Contact" %}</h1>
    <p>
        {% trans "UXperiment is a mariage between websites & their user experience. Here, you are the user." %}
    </p>
    <p>
        {% trans "We're open to any remark, suggestion, contact enquiry, collaboration & beer offering." %}
        {% trans "For the last kind of request, note we're always ready to sacrifice for the common good." %}
    </p>
    <p>
        {% trans "For other cases, we'll be happy to provide you with an appropriate answer anyway." %}
    </p>
    <form method="post" action="{% url "contact" %}" >
        {% csrf_token %}
        {{ form.subject.errors }}
        <p> <label for="id_subject">{% trans "Subject" %} *</label>
        {{ form.subject }}</p>

        {{ form.sender.errors }}
        <p><label for="id_sender">{% trans "Email" %} *</label>
        {{ form.sender }}</p>

        {{ form.message.errors }}
        <p><label for="id_message">{% trans "Message" %} *</label>
        {{ form.message }}</p>
        <input type="submit" value="&gt; {% trans "Send" %}" />
    </form>
{% endblock %}
