{% extends "layout.html" %}
{% block content %}

<section class="home-illustration">
  <div class="container">
    <h1 class="illustration-title">
      Contribuer à
      <span> l’évolution des sites</span>
    </h1>
  </div>
</section>
<section class="clearfix container">
  <h1 class="home-title"><span>UX</span>periment, le web, en mieux.</h1>
  <div class="fl col3">
   <img src="{{ STATIC_URL }}img/home_1.jpg" alt="illu c'est quoi?">
   <h2>UXperiment, c'est quoi ?</h2>
   <p>Ce projet original a pour vocation de laisser la parole aux utilisateurs afin d'échanger autour de l'expérience utilisateur des sites que vous utilisez</p>
 </div>
 <div class="fl col3">
   <img src="{{ STATIC_URL }}img/home_2.jpg" alt="illu proposer site">
   <h2>Proposer un site</h2>
   <p>Une fois inscrit, indiquez le site que vous souhaitez proposer et ce que vous en pensez. Il sera ensuite directement publié et les autres utilisateurs pourront donner leur avis.</p>
 </div>
 <div class="fl col3">
   <img src="{{ STATIC_URL }}img/home_3.jpg" alt="illu contribuer evolution">
   <h2>Contribuer à son évolution</h2>
   <p>Une fois inscrit, il vous suffit de sélectionner le site sur lequel vous souhaitez faire part d’un avis, d’une suggestion d'amélioration ou d’un problème.</p>
 </div>
</section>
<section class="home-with-bg">
  <div class="container clearfix">
    <h1 class="home-title"><span>Ok.</span> Comment ça marche?</h1>
    <div class="fl col4">
      <img src="{{ STATIC_URL }}img/expli1.png" alt="">
      <h3>
        Soumettez votre site
        <span>(nous serons doux)</span>
      </h3>
    </div>
    <div class="fl col4">
      <img src="{{ STATIC_URL }}img/expli2.png" alt="">
      <h3>
        Détendez vous
        <span>(mangerbouger.fr)</span>
      </h3>
    </div>
    <div class="fl col4">
      <img src="{{ STATIC_URL }}img/expli3.png" alt="">
      <h3>
        Ecoutez les remarques
        <span>(pertinentes, toujours)</span>
      </h3>
    </div>
    <div class="fl col4">
      <img src="{{ STATIC_URL }}img/expli4.png" alt="">
      <h3>
        Devenez Powerful
        <span>(le monde est à vous)</span>
      </h3>
    </div>
  </div>
</section>
{% endblock %}