{% extends "layout.html" %}
{% block content %}

<section class="clearfix">
      <h1>Contribuer à l'évolution des sites</h1>
      <a href="" class="fl">
        <img src="" alt="img">
        <span>plop</span>
    </a>
    <a href="" class="fl">
        <img src="" alt="img">
       <span>plop</span>
    </a>
    <a href="" class="fl">
        <img src="" alt="img">
       <span>plop</span>
    </a>
</section>
<section class="clearfix">
    <div class="fl">img</div>
    <div class="fl">img</div>
    <div class="fl">img</div>
</section>
</section>

{% endblock %}